// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777777;

$color-white: #ffffff;
$color-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
